In [10]:
import pandas as pd    
data = pd.read_csv('test.txt', sep = "\t")
data

  <number of tasks>
0               100
1      <cycle time>
2              1000
3  <order strength>
4             0.196
5      <task times>
6             1 435
7             2 362
8              3 83
9             4 100

In [17]:
import re


file1 = open('test.txt', 'r')
tt = file1.read()
split_text = re.split("<.*>+\n", tt)

In [33]:
print(split_text[1].split('\n'))

['100', '']

In [46]:
n = int(split_text[1].split('\n')[0])

C = int(split_text[2].split('\n')[0])

ostr = float(split_text[3].split('\n')[0])

print(n,C,ostr)

100 1000 0.196 <class 'float'>

In [52]:
tsk = split_text[4].split('\n')[0:-1]
t = [int(ele.split(' ')[1]) for ele in tsk]

In [57]:
prec = split_text[5].split('\n')[0:-1]
E = [[int(x) for x in ele.split(',')] for ele in prec]

In [60]:
import numpy as np
pr = np.zeros((n,n))

In [69]:
for i, j in E:
    pr[i-1,j-1] = 1
pr = pr.astype(int)

In [70]:
pr

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [71]:
np.savetxt('values.csv', pr, delimiter=",")

In [79]:
import pandas as pd
df3 = pd.DataFrame(pr)
df2 = pd.DataFrame(t)
df1 = pd.DataFrame([['number_of_tasks', n], ['cycle_time', C], ['order_strength', ostr]])

with pd.ExcelWriter('file.xlsx') as writer:
    df1.to_excel(writer, sheet_name='data_description', header=False, index=False) 
    df2.to_excel(writer, sheet_name='task_times', header=False, index=False)  
    df3.to_excel(writer, sheet_name='precedence_relations', header=False, index=False)

In [68]:
len(E)

105

In [86]:
with open('f1.txt', 'r') as f:
    stt = "".join(line for line in f if not line.isspace())
    split_text = re.split("<.*>+\n", stt)

    n = int(split_text[1].split('\n')[0])
    C = int(split_text[2].split('\n')[0])
    ostr = float(split_text[3].split('\n')[0])

    tsk = split_text[4].split('\n')[0:-1]
    t = [int(ele.split(' ')[1]) for ele in tsk]

    prec = split_text[5].split('\n')[0:-1]
    E = [[int(x) for x in ele.split(',')] for ele in prec]
    import numpy as np
    pr = np.zeros((n,n))
    for i, j in E:
        pr[i-1,j-1] = 1
    pr = pr.astype(int)


    import pandas as pd
    df3 = pd.DataFrame(pr)
    df2 = pd.DataFrame(t)
    df1 = pd.DataFrame([['number_of_tasks', n], ['cycle_time', C], ['order_strength', ostr]])

    with pd.ExcelWriter('instance_n=100_1.xlsx') as writer:
        df1.to_excel(writer, sheet_name='data_descriptions', header=False, index=False) 
        df2.to_excel(writer, sheet_name='task_times', header=False, index=False)  
        df3.to_excel(writer, sheet_name='precedence_relations', header=False, index=False)

In [83]:
split_text

['',
 '100\n',
 '1000\n',
 '0.195\n',
 '1 246\n2 117\n3 133\n4 156\n5 130\n6 138\n7 510\n8 193\n9 80\n10 43\n11 26\n12 540\n13 202\n14 498\n15 154\n16 194\n17 212\n18 137\n19 130\n20 144\n21 40\n22 504\n23 73\n24 132\n25 253\n26 197\n27 270\n28 88\n29 126\n30 395\n31 33\n32 459\n33 351\n34 284\n35 235\n36 163\n37 102\n38 264\n39 65\n40 134\n41 143\n42 486\n43 23\n44 56\n45 537\n46 556\n47 216\n48 148\n49 519\n50 286\n51 230\n52 187\n53 128\n54 537\n55 147\n56 118\n57 68\n58 388\n59 308\n60 57\n61 82\n62 112\n63 349\n64 109\n65 95\n66 246\n67 23\n68 38\n69 444\n70 168\n71 30\n72 130\n73 69\n74 108\n75 96\n76 269\n77 515\n78 169\n79 83\n80 552\n81 552\n82 22\n83 229\n84 159\n85 509\n86 57\n87 71\n88 53\n89 191\n90 139\n91 303\n92 118\n93 35\n94 181\n95 149\n96 37\n97 37\n98 183\n99 69\n100 192\n',
 '1,37\n2,11\n3,12\n3,18\n4,13\n4,15\n5,14\n5,17\n5,20\n6,10\n8,16\n8,19\n9,21\n10,37\n11,22\n12,26\n13,25\n15,97\n16,23\n16,27\n18,28\n19,89\n20,24\n21,66\n22,37\n23,37\n24,57\n25,32\n26,29\n27,31\n27,35\n27,36\n27,64\n28,30\n28,33\n28,34\n29,37\n30,57\n31,57\n32,39\n33,38\n33,42\n33,43\n35,40\n36,41\n36,44\n36,45\n37,46\n37,47\n37,48\n37,49\n37,55\n38,50\n39,52\n40,51\n41,53\n41,54\n41,56\n41,61\n46,57\n49,63\n49,64\n49,66\n50,60\n51,58\n52,61\n53,59\n55,65\n56,62\n57,67\n57,68\n57,69\n57,70\n57,71\n57,72\n57,73\n58,75\n59,77\n60,76\n61,74\n67,81\n67,82\n67,84\n71,83\n74,78\n75,79\n76,80\n78,86\n79,85\n80,87\n81,88\n81,89\n82,89\n83,91\n84,90\n85,92\n87,94\n89,96\n90,93\n90,95\n92,97\n94,100\n95,98\n95,99\n',
 '']